* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;

}

/* Colors:
--text: #ecedf3;
--background: #090a0e;
--primary: #aeb3cd;
--secondary: #66426b;
--accent: #af7ca8;
*/

body {
	background: fixed url(/img/bg/new_file.svg) center center/cover no-repeat;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
	width: 100%;
	height: 50px;
	font-weight: 300;
	font-size: 22px;
	
}


.nav_list {
	display: flex;
	justify-content: end;
	list-style-type: none;
}

.nav_link {
	margin-top: 45px;
	padding-right: 125px;
}

.nav_link:last-child {
 padding-left: 70px;
}

.nav_link a {
	text-decoration: none;	
	color: #ecedf3;
	position: fixed;
}

.nav_link a:after {
	position: absolute;
	left: 50%;
	  content: '';
	  height: 2px;
	background: #aeb3cd;
	transition: all 0.3s linear;
	width: 0;
	bottom: 0;  
  }

 .nav_link a:hover:after {
	width: 100%;
  	left:0;
}

.main_info {
	min-height: 960px;
    margin-top: 150px;
    display: flex;
    justify-content: end;
}

h1 {
    margin-top: 110px;
    color: #ecedf3;
    font-size: 64px;
    text-shadow: #af7ca8 1px 0 10px;
}

.main_p {
    margin-top: 50px;
    padding-right: 110px;
    color: #ecedf3;
    font-size: 30px;
    text-shadow: #af7ca8 1px 0 10px;
}

.avatar {
    width: 600px;
    border: solid #aeb3cd 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}